<!--navbar Header-->
<div class="row">
<nav class="navbar navbar-default" role="navigation" ng-hide="test">
  <div class="navbar-header">
  </div>
  <ul class="nav navbar-nav">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="profil">Profile</a></li>

  </ul>
</nav>
 <!--Liste des amis -->
<div class="col-lg-offset-9">
  <h1><span>Liste des Amis </span></h1>
  <h3 ng-repeat="x in records">{{x}}</h3>
</div>
</div>

<div class="row1">

<ul>
  <!-- Rendre un élément li pour chaque entrée dans le tableau des éléments.-->
  <li ng-repeat="i in items | searchFor:searchString">
    <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
    <p>{{i.title}}</p>
  </li>
</ul>
  <div class="bar">
    <!-- Créer une liaison entre le modèle de recherche de chaîne et le champ de texte -->
    <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
  </div>
</div>